.form-title {
  padding-bottom: 15px;
  text-align: center;
  font-size: xx-large;
}
.investment-form {
  background-color: #000000;
  color: rgb(59, 217, 72);
  border: 2px solid rgb(59, 217, 72);
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 15px;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: gray;
  border-radius: 4px;
  box-sizing: border-box;
  height: 35px; 
}
.choice {
  margin-bottom: 10px;
  color: gray;
}
.button-box {
  display: "flex";
  margin-top: 15px;
  text-align: center;
}
.button {
  width: 100px;
  height: 33px;
  border-radius: 15px;
  margin: 5px;
  color: rgb(0, 0, 0);
}
.Buy {
  background-color: green;
}
.Sell {
  background-color: red;
}
.Exchange {
  background-color: rgb(255, 225, 0);
}
.transfer-btn {
  margin: 0 auto;
  position: relative;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(109, 65, 156);
}
.Buy:hover{
  background-color: rgb(0, 74, 0);
}
.Sell:hover {
  background-color: rgb(159, 0, 0);
}
.Exchange:hover {
  background-color: rgb(160, 141, 0);
}
.transfer-btn:hover {
  background-color: rgb(53, 22, 87);
}
