table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: hsl(0, 0%, 88%);
    font-weight: bold;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #cbcbcb;
}
tr:nth-child(odd) {
    background-color: #b3b3b3;
}
td {
    padding: 8px;
}
.loading {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #666;
}
.BUY {
    color: green;
}
.SELL {
    color: red;
}
.EXCHANGE {
    color: rgb(235, 235, 0);
}
.TRANSFER {
    color: rgb(109, 65, 156);
}
