.get-started-btn {
    background: linear-gradient(to right, #4CAF50, #008000);
    color: rgb(214, 255, 209);
}
.get-started-btn:hover {
    background: linear-gradient(to right, #008000, #4CAF50);
}
